// Colors
$primary-color: #7057ed;
// Text Colors
$primary-text-color: #061237;
$secondary-text-color: #b0b0b0;
$placeholder-text-color: #cecece;
// Font Families
$primary-font-family: "Urbanist",
sans-serif;